In [1]:
import pandas as pd

In [8]:
team_list = ["Arsenal", "Aston Villa", "Brighton & Hove Albion", "Burnley", "Chelsea", "Crystal Palace", "Everton", "Fulham", "Leeds United", "Leicester City", "Liverpool", "Manchester City", "Manchester United", "Newcastle United", "Sheffield United", "Southampton", "Tottenham Hotspur", "West Bromwich Albion", "West Ham United", "Wolverhampton Wanderers"]
home_teams = []
away_teams = []
for i in team_list:
    for j in team_list:
        if i != j:
            home_teams.append(i)
            away_teams.append(j)
len(away_teams)

380

In [16]:
prem_fixtures_2021 = {"home": home_teams, "away": away_teams}
prem_fixtures2021 = pd.DataFrame(prem_fixtures_2021, columns = ["home", "away"])
prem_fixtures2021

                        home                    away
0                    Arsenal             Aston Villa
1                    Arsenal  Brighton & Hove Albion
2                    Arsenal                 Burnley
3                    Arsenal                 Chelsea
4                    Arsenal          Crystal Palace
..                       ...                     ...
375  Wolverhampton Wanderers        Sheffield United
376  Wolverhampton Wanderers             Southampton
377  Wolverhampton Wanderers       Tottenham Hotspur
378  Wolverhampton Wanderers    West Bromwich Albion
379  Wolverhampton Wanderers         West Ham United

[380 rows x 2 columns]

In [ ]:
prem_fixtures2021.to_csv)