In [1]:
import pandas as pd

In [2]:
group = []
team_1 = []
team_2 = []
result = []

In [4]:
def addmatch(team1, team2, grp, res):
    group.append(grp)
    team_1.append(team1)
    team_2.append(team2)
    result.append(res)

In [5]:
# 1 -> Team 1 Wins
# 2 -> Team 2 Wins
# D -> Draw
addmatch("Russia", "Saudi Arabia", "A", "1")
addmatch("Egypt", "Uruguay", "A", "2")
addmatch("Morocco", "Iran", "B", "2")
addmatch("Portugal", "Spain", "B", "D")
addmatch("France", "Australia", "C", "1")
addmatch("Peru", "Denmark", "C", "2")
addmatch("Argentina", "Iceland", "D", "D")
addmatch("Croatia", "Nigeria", "D", "1")
addmatch("Costa Rica", "Serbia", "E", "2")
addmatch("Brazil", "Switzerland", "E", "D")
addmatch("Germany", "Mexico", "F", "2")
addmatch("Sweden", "Korea Republic", "F", "1")
addmatch("Belgium", "Panama", "G", "1")
addmatch("Tunisia", "England", "G", "2")
addmatch("Colombia", "Japan", "H", "2")
addmatch("Poland", "Senegal", "H", "2")

In [6]:
addmatch("Russia", "Egypt", "A", "1")
addmatch("Uruguay", "Saudi Arabia", "A", "1")
addmatch("Portugal", "Morocco", "B", "1")
addmatch("Iran", "Spain", "B", "2")
addmatch("Denmark", "Australia", "C", "D")
addmatch("France", "Peru", "C", "1")
addmatch("Argentina", "Croatia", "D", "2")
addmatch("Nigeria", "Iceland", "D", "1")
addmatch("Brazil", "Costa Rica", "E", "1")
addmatch("Serbia", "Switzerland","E",  "2")
addmatch("Korea Republic", "Mexico", "F", "2")
addmatch("Germany", "Sweden", "F", "1")
addmatch("Belgium", "Tunisia", "G", "1")
addmatch("England", "Panama", "G", "1")
addmatch("Japan", "Senegal", "H", "D")
addmatch("Poland", "Colombia", "H", "2")

In [7]:
addmatch("Saudi Arabia", "Egypt", "A", "1")
addmatch("Uruguay", "Russia", "A", "1")
addmatch("Iran", "Portugal", "B", "D")
addmatch("Spain", "Morocco", "B", "D")
addmatch("Australia", "Peru", "C", "2")
addmatch("Denmark", "France", "C", "D")
addmatch("Nigeria", "Argentina", "D", "2")
addmatch("Iceland", "Croatia", "D", "2")
addmatch("Switzerland", "Costa Rica", "E", "D")
addmatch("Serbia", "Brazil", "E", "2")
addmatch("Mexico", "Sweden", "F", "2")
addmatch("Korea Republic", "Germany", "F", "1")
addmatch("Senegal", "Colombia", "H", "2")
addmatch("Japan", "Poland", "H", "2")
addmatch("England", "Belgium", "G", "2")
addmatch("Panama", "Tunisia", "G", "2")

In [8]:
len(group)

48

In [9]:
len(team_1)

48

In [10]:
len(team_2)

48

In [11]:
len(result)

48

In [12]:
wc18 = pd.DataFrame({"Group": group, "Team 1": team_1, "Team 2": team_2, "Actual Result": result})
wc18

   Group          Team 1          Team 2 Actual Result
0      A          Russia    Saudi Arabia             1
1      A           Egypt         Uruguay             2
2      B         Morocco            Iran             2
3      B        Portugal           Spain             D
4      C          France       Australia             1
5      C            Peru         Denmark             2
6      D       Argentina         Iceland             D
7      D         Croatia         Nigeria             1
8      E      Costa Rica          Serbia             2
9      E          Brazil     Switzerland             D
10     F         Germany          Mexico             2
11     F          Sweden  Korea Republic             1
12     G         Belgium          Panama             1
13     G         Tunisia         England             2
14     H        Colombia           Japan             2
15     H          Poland         Senegal             2
16     A          Russia           Egypt             1
17     A         Uruguay    Saudi Arabia             1
18     B        Portugal         Morocco             1
19     B            Iran           Spain             2
20     C         Denmark       Australia             D
21     C          France            Peru             1
22     D       Argentina         Croatia             2
23     D         Nigeria         Iceland             1
24     E          Brazil      Costa Rica             1
25     E          Serbia     Switzerland             2
26     F  Korea Republic          Mexico             2
27     F         Germany          Sweden             1
28     G         Belgium         Tunisia             1
29     G         England          Panama             1
30     H           Japan         Senegal             D
31     H          Poland        Colombia             2
32     A    Saudi Arabia           Egypt             1
33     A         Uruguay          Russia             1
34     B            Iran        Portugal             D
35     B           Spain         Morocco             D
36     C       Australia            Peru             2
37     C         Denmark          France             D
38     D         Nigeria       Argentina             2
39     D         Iceland         Croatia             2
40     E     Switzerland      Costa Rica             D
41     E          Serbia          Brazil             2
42     F          Mexico          Sweden             2
43     F  Korea Republic         Germany             1
44     H         Senegal        Colombia             2
45     H           Japan          Poland             2
46     G         England         Belgium             2
47     G          Panama         Tunisia             2

In [13]:
wc18.to_csv("wc18_fixtures.csv")